@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  text-align: center;
}

.hidden {
  display: none !important;
}



.game {
  background-color: #1c1e1f;
  color: #6bbf50;
  display: flex;
  height: 100vh;
  width: 100vw;

  /* FLEXBOX */

  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.main-title {
  margin: 3vh;
}

.game-choices, .game-results {
  display: flex;
   gap: 8vh; 
}

.game-results {
  align-items: center;
  justify-content: center;
}



.emoji-background{

  display: flex;
  align-items: center;
  justify-content: center;

  height: 20vh;
  width: 20vw;
  border-radius: 10px;
  background-color: #242728;
  opacity: 0.7;
}



.emoji {
  font-size: 10vh;
}


.choice:hover,
.choice:active {
  opacity: 1;
  transition: 0.1s;
}

.choice:active {
  background-color: blue;
}


.bottom-info {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-scores {
  display: flex;
  gap: 1vw;
  margin: 0 1vw;
}

.score {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.game-rules {
  margin: 0 1vw;
}

.info {
  margin: 1vh;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  width: 40%;
  margin: 35vh auto;
  display: flex;
  flex-direction: column;
  background-color: #242728;
  border-radius: 5px;
  padding: 3vh;
}

.modal-title {
  margin-bottom: 5vh;
}
